.country-flag {
  width: 48px;
  height: 48px;

  &.country-flag-algeria {
    background: url('/assets/flags/Algeria.png') no-repeat 0 0;
  }

  &.country-flag-argentina {
    background: url('/assets/flags/Argentina.png') no-repeat 0 0;
  }

  &.country-flag-australia {
    background: url('/assets/flags/Australia.png') no-repeat 0 0;
  }

  &.country-flag-belgium {
    background: url('/assets/flags/Belgium.png') no-repeat 0 0;
  }

  &.country-flag-bosnia-and-herzegovina {
    background: url('/assets/flags/Bosnia-and-Herzegovina.png') no-repeat 0 0;
  }

  &.country-flag-brazil {
    background: url('/assets/flags/Brazil.png') no-repeat 0 0;
  }

  &.country-flag-cameroon {
    background: url('/assets/flags/Cameroon.png') no-repeat 0 0;
  }

  &.country-flag-chile {
    background: url('/assets/flags/Chile.png') no-repeat 0 0;
  }

  &.country-flag-colombia {
    background: url('/assets/flags/Colombia.png') no-repeat 0 0;
  }

  &.country-flag-costa-rica {
    background: url('/assets/flags/Costa-Rica.png') no-repeat 0 0;
  }

  &.country-flag-cote-divoire {
    background: url('/assets/flags/Cote-dIvoire.png') no-repeat 0 0;
  }

  &.country-flag-croatia {
    background: url('/assets/flags/Croatia.png') no-repeat 0 0;
  }

  &.country-flag-ecuador {
    background: url('/assets/flags/Ecuador.png') no-repeat 0 0;
  }

  &.country-flag-england {
    background: url('/assets/flags/England.png') no-repeat 0 0;
  }

  &.country-flag-france {
    background: url('/assets/flags/France.png') no-repeat 0 0;
  }

  &.country-flag-germany {
    background: url('/assets/flags/Germany.png') no-repeat 0 0;
  }

  &.country-flag-ghana {
    background: url('/assets/flags/Ghana.png') no-repeat 0 0;
  }

  &.country-flag-greece {
    background: url('/assets/flags/Greece.png') no-repeat 0 0;
  }

  &.country-flag-honduras {
    background: url('/assets/flags/Honduras.png') no-repeat 0 0;
  }

  &.country-flag-iran {
    background: url('/assets/flags/Iran.png') no-repeat 0 0;
  }

  &.country-flag-italy {
    background: url('/assets/flags/Italy.png') no-repeat 0 0;
  }

  &.country-flag-japan {
    background: url('/assets/flags/Japan.png') no-repeat 0 0;
  }

  &.country-flag-korea-republic {
    background: url('/assets/flags/South-Korea.png') no-repeat 0 0;
  }

  &.country-flag-mexico {
    background: url('/assets/flags/Mexico.png') no-repeat 0 0;
  }

  &.country-flag-netherlands {
    background: url('/assets/flags/Netherlands.png') no-repeat 0 0;
  }

  &.country-flag-nigeria {
    background: url('/assets/flags/Nigeria.png') no-repeat 0 0;
  }

  &.country-flag-portugal {
    background: url('/assets/flags/Portugal.png') no-repeat 0 0;
  }

  &.country-flag-russia {
    background: url('/assets/flags/Russia.png') no-repeat 0 0;
  }

  &.country-flag-spain {
    background: url('/assets/flags/Spain.png') no-repeat 0 0;
  }

  &.country-flag-switzerland {
    background: url('/assets/flags/Switzerland.png') no-repeat 0 0;
  }

  &.country-flag-united-states {
    background: url('/assets/flags/United-States.png') no-repeat 0 0;
  }

  &.country-flag-uruguay {
    background: url('/assets/flags/Uruguay.png') no-repeat 0 0;
  }
}