/* Colors */
$white: #fff;
$black: #000;

$light-gray: #f3f3f3;
$border-gray: #ddd;
$dark-gray: #777;

$dark-blue: #323A45;
$hot-pink: #FF2E63;

/* Page Styling */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor: default;

  background: $light-gray;
}

.app-container {
  width: 500px;
  margin: 0 auto;

  border-left: 1px solid $dark-blue;
  border-right: 1px solid $dark-blue;

  >header {
    padding: 40px;

    background: $dark-blue;
    text-align: center;

    .logo-large {
      font-size: 50px;
      font-weight: 100;
      color: $white;
    }

    .logo-small {
      margin-left: 10px;

      font-size: 37px;
      font-weight: 400;
      text-transform: uppercase;

      color: $hot-pink;
    }
  }

  .votes-left {
    padding: 12px;

    background: $white;
    border-bottom: 1px solid $border-gray;

    color: $dark-gray;
    text-align: center;
    font-weight: bold;
  }

  .country-rankings {
    background: $white;

    >li {
      position: relative;
      height: 70px;

      border-bottom: 1px solid $border-gray;

      .country-rank {
        position: absolute;
        top: 0;
        left: 0;

        padding: 20px;
        background: $light-gray;

        font-size: 30px;
        font-weight: 100;
      }

      // actual flag graphics are defined in flags.scss
      .country-flag {
        position: absolute;
        top: 11px;
        left: 74px;
      }

      .country-name {
        position: absolute;
        top: 22px;
        left: 130px;

        font-size: 24px;
        font-weight: 300;
      }

      .vote-up {
        position: absolute;
        top: 14px;
        right: 20px;
        padding: 8px 12px 8px 40px;

        font-size: 24px;

        color: $hot-pink;

        background: url('/assets/icons/thumbs_up.png') no-repeat 12px 50%;
        border: 1px solid $hot-pink;

        cursor: pointer;

        &:hover {
          color: $black;

          background-image: url('/assets/icons/thumbs_up_hover.png');
          border: 1px solid $black;
        }
      }
    }
  }
}