<% content_for :head do %>
    <script type="text/template" id="app-template">
        <header>
            <span class="logo-large">World Cup</span>
            <span class="logo-small">Ranker</span>
        </header>
        <div class="votes-left">
            {{ if (can_vote) { }}
                You have <span class="votes-left-highlight">{{= votes_left}}</span> votes left
            {{ } else { }}
                You have no votes left
            {{ } }}
        </div>
        <ul class="country-rankings">
        </ul>
    </script>

    <script type="text/template" id="country-template">
      <li>
          <div class="country-rank">{{= rank}}</div>
          <div class="country-flag country-flag-{{= country.code}}"></div>
          <div class="country-name">{{= country.name }}</div>
          <div class="vote-up {{if (!can_vote) { }}vote-up-disabled{{ } }}">{{= country.num_votes }}</div>
      </li>
    </script>
<% end %>
