<div class="app-container">
  <header>
    <span class="logo-large">World Cup</span>
    <span class="logo-small">Ranker</span>
  </header>
  <div class="votes-left">
    You have 5 votes left
  </div>
  <ul class="country-rankings">
    <li>
      <div class="country-rank">1</div>
      <div class="country-flag country-flag-brazil"></div>
      <div class="country-name">Brazil</div>
      <div class="vote-up">204</div>
    </li>
    <li>
      <div class="country-rank">1</div>
      <div class="country-flag country-flag-brazil"></div>
      <div class="country-name">Brazil</div>
      <div class="vote-up">15</div>
    </li>
  </ul>
</div>