<div class="app-container">
  <header>
    <span class="logo-large">World Cup</span>
    <span class="logo-small">Ranker</span>
  </header>
  <div class="votes-left">
    You have 5 votes left
  </div>

</div>